* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.box {
  width: auto;
  height: 50vh;
  border: 2px solid black;
  overflow-y: scroll;
}

.bg {
  background: url("https://media.giphy.com/media/xT9IgwWOpd4sJVuDe0/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
